<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{layout/layout::library('Danh sách')}"/>
</head>
<body>
<h1>Danh sách sinh viên</h1>
<form action="/students" method="get">
    <input name="searchName" placeholder=" Nhập tên tìm kiếm " th:value="${searchName}">
    <button>Tìm kiếm</button>
</form>
<h4 style="color: red" th:text="${mess}"></h4>
<a href="/students/add">Thêm mới</a>
<table border="1">
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Detail-RP</th>
        <th>Detail-PV</th>
    </tr>

    <tr th:each="student,status:${studentPage.content}">
        <td th:text="${status.count}"></td>
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:switch="${student.gender}">
            <span th:case="true" th:text="Nam"></span>
            <span th:case="false" th:text="Nữ"></span>
        </td>
        <td>
            <a th:href="@{/students/detail(id=${student.id})}">Detail1</a>
        </td>
        <td>
            <a>
                <a th:href="@{/students/detail/__${student.id}__}">Detail2</a>
            </a>
        </td>
    </tr>
</table>
<a th:if="${studentPage.hasPrevious()}" th:href="@{/students(page=${studentPage.number - 1},searchName=${searchName})}">Trước</a>
<span th:text="${studentPage.number+1}"></span>/<span th:text="${studentPage.totalPages}"></span>
<a th:if="${studentPage.hasNext()}" th:href="@{/students(page=${studentPage.number + 1},searchName=${searchName})}">Sau</a>

</body>
</html>