version: "3.9"

services:
  db:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: db_ci_cd
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - "3307:3306"
    volumes:
      - db-data:/var/lib/mysql

  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile-backend
    container_name: backend-app
    ports:
      - "8088:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/db_ci_cd
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: pass
    depends_on:
      - db

  frontend:
    build:
      context: ..
      dockerfile: docker/Dockerfile-frontend
      args:
        VITE_API_URL: http://backend:8080
    container_name: frontend-app
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  db-data:
